:root, :host {
    --_border_color:        var(--border-color, #4444442c);

    --_selected-bg:         var(--selected-button-background, #104cff);
    --_selected-bg-darker:  var(--selected-button-hover-background, #083ddd);
    --_selected-fg:         var(--selected-button-color, #ffffff);
    --_selected-border:     var(--selected-button-border-color, #4978ff);

    --_column-drop-color:     var(--column-drop-color, #d4eeff);

    --_head-color:          var(--header-color, #4d4d4d);

    --_popup-bg:            var(--popup-background, #ffffff);
    --_popup-color:         var(--popup-color, #000000);
    --_popup-shadow-color:  var(--popup-shadow-color,#0000002c);
    --_input-bg:            var(--input-background, #f6f6ff);
    --_input-border:        var(--input-border-color, #e9e9ff);
    --_input-focused-bg:    var(--input-focus-background, #f1f1ff);
    --_input-hover-border:  var(--input-border-focus-color, #e0e0ff);


    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 file-system {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~ GENERIC STYLES ~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

button {
    border: none;
    padding: 0.4em 0.7em;
    border-radius: 0.5em;
    min-width: 7em;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
}
button[primary] {
    background-color: var(--_selected-bg);
    color: var(--_selected-fg);
}
button:hover {
    background-color: var(--_border_color);
}
button[primary]:hover {
    background-color: var(--_selected-bg-darker);
}

button:active {
    transform: scale(0.98);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

input {
    outline: none;
    border: 1px solid var(--_input-border);
    background: var(--_input-bg);
    padding: 0.5em;
    border-radius: 0.5em;
}

input:focus {
    background:  var(--_input-focused-bg);
    border-color: var(--_input-hover-border);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~ POPUP STYLES ~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

fs-popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: var(--_popup-bg);
    color: var(--_popup-color);
    width: 30em;
    z-index: 100;
    border-radius: 1em;
    padding: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--_border_color);
    filter: drop-shadow(0 0 10px var(--_popup-shadow-color));
    gap: 1em;
}

fs-popup[hidden] {
    opacity: 0;
    pointer-events: none;
}

fs-popup .buttons {
    display: grid;
    grid-template-columns: 1fr repeat(calc(var(--n) - 1), auto);
    gap: 0.5em;
}
fs-popup .buttons > div {
    display: flex;
    flex-direction: row-reverse;
}

fs-popup:not([hidden]) ~ *{
    pointer-events: none;
}

fs-popup[invalid] button[primary] {
    opacity: 0.5;
    pointer-events: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~ MAIN STYLES ~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

fs-main {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
}
fs-main > div {
    display: grid;
    height: 100%;
    position: absolute;
    min-width: 100%;
    grid-template-columns: repeat(var(--n), auto) 1fr;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~ HEAD STYLES ~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
fs-head {
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.5em;
    color: var(--_head-color);
    border-bottom: 1px solid var(--_border_color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~ COLUMN STYLES ~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

fs-column {
    display: flex;
    position: relative;
    border-right: 1px solid var(--_border_color);
    width: 13.75vw;
}

fs-column[dummy] {
    border: none;
    height: 100%;
    width: 14vw;
}

fs-column[drag-over] {
    background-color: var(--_column-drop-color);
}

fs-column > div {
    display: flex;
    flex-direction: column;
    padding: 0.25em 0.5em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    overflow-y: auto;
    box-sizing: border-box;
}

fs-column:first-of-type:after {
    content: "Tip: Right-click to create folders or boards, or right-click an item for more options.";
    padding: 0.5em 1em 1em 1em;
    display: inline-block;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
fs-column:first-of-type > div {
    bottom: 4em;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~ FILE ICON STYLES ~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

fs-file {
    display: grid;
    padding: 0.1em 0.3em;
    grid-template-columns: auto 1fr auto;
    border-radius: 0.3em;
    gap: 0.5em;
    cursor: pointer;
    align-items: center;
    border-bottom: 1px solid transparent;
}

fs-file span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

fs-file[selected] + fs-file[selected]:has( + fs-file[selected]) {
    border-radius: 0;
    border-bottom: 1px solid var(--_selected-border);
}

fs-file:not([selected]) + fs-file[selected]:has( + fs-file[selected]),
fs-file[selected]:first-child:has( + fs-file[selected]) {
    border-radius: 0.3em 0.3em 0 0;
    border-bottom: 1px solid var(--_selected-border);
}

fs-file[selected] + fs-file[selected] {
    border-radius: 0 0 0.3em 0.3em;
}

fs-file[in-selected-path] {
    background-color: var(--_border_color);
}

fs-file[drag-over],
fs-file[selected],
fs-file[in-selected-path][drag-over]{
    background-color: var(--_selected-bg);
    color: var(--_selected-fg);
}

fs-file > div {
    display: flex;
    align-items: center;
    gap: 0.3em;
}


fs-i {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--i-bg, var(--i-folder));
}


fs-root-i {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    background: currentColor;
    border-radius: 1em;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~ FILE DISPLAY STYLES ~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

fs-file-display {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 45vw;
    height: 100%;
}

fs-file-display > grid-layout {
    background-color: transparent;
}

fs-file-display > grid-layout .grid-icon {
    --shadow-color: #2725234c;
}

fs-file-display access-button.grid-icon .content {
    padding: var(--gap);
}

fs-file-display access-button.grid-icon[card="folder"] .content .display-value {
    padding-top: calc(var(--width, 100vw) / 50);
}
