[shadow] {
    --border: .25vw;
    --gap: .125vw;
    --pad: var(--border);
    --shadow-color: #565048cf
}

[shadow] > grid-layout {
    padding: var(--gap);
}

grid-layout {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    --font-ratio: 0.015;
    --_W: var(--width, 100vw);
    --_H: var(--height, 100vh);
    --_min: min(var(--_W), var(--_H));
    --_fs_calc: calc(var(--_min) * var(--font-ratio));
    --font-size: var(--_fs_calc);
    font-size: var(--font-size);
}

access-textarea {
    --caret-color: #9b0000;
    --fs: var(--font-size, 1.3vmin);
    pointer-events: none;
    font-size: 1.6em;
    --margin-x: calc(var(--font-size) * 0.8);
    --margin-y: calc(var(--font-size) * 0.4);
}
access-textarea textarea {
    overflow: hidden;
}

access-button.grid-icon:not([label-at-bottom]) .content {
    flex-direction: column-reverse !important;
}

access-button.grid-icon .content .symbol {
    height: 100% !important;
    position: relative;
}


access-button.grid-icon .symbol img {
    max-width: unset;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

access-button.grid-icon[card="folder"] .content {
    padding-top: calc(var(--pad) + var(--height) / 10);
}


access-button.grid-icon .content {
    padding: var(--pad);
    padding-top: calc(var(--pad) + min(0.3em, var(--pad)));
    box-sizing: border-box;
}

.grid-icon .outline {
    stroke-linecap: round;
}

.grid-icon .content .display-value {
    width: 100%;
}

.grid-icon[bold] .content .display-value span{
    font-weight: bold;
}
.grid-icon[italic] .content .display-value span{
    font-style: italic;
}

.grid-icon[font-size="giant"] .content .display-value span{
    font-size: 4em;
}
.grid-icon[font-size="huge"] .content .display-value span{
    font-size: 2.5em;
}
.grid-icon[font-size="large"] .content .display-value span{
    font-size: 1.5em;
}
.grid-icon[font-size="medium"] .content .display-value span{
    font-size: 1em;
}
.grid-icon[font-size="small"] .content .display-value span{
    font-size: 0.85em;
}
.grid-icon[font-size="tiny"] .content .display-value span{
    font-size: 0.7em;
}